<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update Absence</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5">
	<h3> Update absence</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#"
						th:action="@{/absences/update/{id}(id=${absence.id})}"
						th:object="${absence}" method="post">
						                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="etudiant" class="col-form-label">Etudiant</label> <input type="text" th:field="*{etudiant}" class="form-control" id="etudiant" placeholder="etudiant"> <span th:if="${#fields.hasErrors('etudiant')}" th:errors="*{etudiant}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="matiere" class="col-form-label">Matiere</label> <input type="text" th:field="*{matiere}" class="form-control" id="matiere" placeholder="matiere"> <span th:if="${#fields.hasErrors('matiere')}" th:errors="*{matiere}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="absence" class="col-form-label">absHours</label> <input type="number" th:field="*{absence}" class="form-control" id="absence" placeholder="absence"> <span th:if="${#fields.hasErrors('absence')}" th:errors="*{absence}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="dateOfAbsence" class="col-form-label">absDate</label> <input type="date" th:field="*{dateOfAbsence}" class="form-control" id="dateOfAbsence" placeholder="dateOfAbsence"> <span th:if="${#fields.hasErrors('dateOfAbsence')}" th:errors="*{dateOfAbsence}" class="text-danger"></span>
                            </div>
							
							
							
								
                            
                            
                            
							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Update absence">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>